# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

#data
data/raw/data.csv
data/processed/data_labeled.csv
data/processed/data_targeted.csv

!*.dvc

# Virtual environment
venv/

# macOS system files
.DS_Store

# VSCode settings
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment variables
.env
